/**
The padding for the main containers are all set with javascript in footer.js based on the position of the Search nav item.
*/

html {
    /*prevents horizontal scrolling*/
    max-width: 100%;
    overflow-x: hidden;
}

body {
	background: #e6e5e7 fixed bottom right no-repeat;
	background-size: 500px Auto;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: slategray;
    
    /*prevents horizontal scrolling*/
    max-width: 100%;
    overflow-x: hidden;
}

audio {
    background-color: #EEEEEE;
}

hr {
    margin-left:0;
    width: 40%;
}

a.mono {
    font-family: monospace, sans-serif;
    font-style: italic;
}


/* change the shadow and border of any input box */
.form-control:focus {
  border-color: #99B2B7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153,178,183, 0.6);
}

.dH1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
    color: slategray; /* Pachyderm by Yasmino: #7A6A53 */
}

.drHeaderButton {
	/* css for the buttons in the header navbar*/ 
}

.drNavDiv {
	/* 
	dark grey blue: C5E0DC 
	grey green: #D5DED9
	bond: #D5DED9
	current fave: #C5E0DC
	*/
	background-color:#D5DED9;
	color: #948C75;
}

.drSecurity {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #C5E0DC;
}

.dSpan {
    padding-left: 10px;
}

.DRnavBarDiv{
	padding-left: 13.5%;
}

.imageLogoDiv{
	display:block;
	clear:right;
}

.imageLogo {
	width:13.5%;
	max-width:180px;
	position: absolute;
    clear: both;
   	height:auto;
   
    /* Spin only the record, not the glossy logoLayer.*/
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

/* Spin the Logo! */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.imageLogoLayer {
	width:13.5%;
	opacity: .4;
	max-width:180px;
    position: absolute;
    clear: both;
   	height:auto; 
}

.drMessages {
	font-family: monospace, sans-serif;
	font-style: italic;
}

/* This class is added to tables that I wanted to not take up all of the page. Now, they look nicer. */
.browseTable {
	width: 80%;
}

/* This handles the ?error url param for incorrect account/password combinations,
	 and also #messageDiv on the single_playlist.jsp */
.error {
    font-family: monospace, sans-serif;
    font-style: italic;
    padding: 15px;
    margin-bottom: 20px;
    border: #ebccd1 1px solid;
    border-radius: 4px;
    color: #E08E79;
    background-color: #f2dede;
}

/* This handles the ?logout url param for the index page, 
	and also #messageDiv on the single_playlist.jsp */
.msg {
	margin-left: 15px;
	padding: 15px;
	border: #b3bcba 1px solid;
	border-radius: 4px;
	color: #7E7C77;
	background-color: #D5DED9;
}

/* this class is added to the body of pages that need to have their positioning changed on page load.
	they are first repositioned as invisible to the page, then they are revealed (this class is removed) */
.delayedReveal {
    visibility: hidden;
}