h1{
	color:red;
}

body {
	background-image: url(../img/jackieconfused.jpg);
	background-color: #C1E4E0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
	
}