html {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background: #E5E5E5 url(../img/fourtet.gif) fixed center no-repeat;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 4em;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

p {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.25em;
}

.bulletedLi {
	display:list-item;
	list-style-type: circle;
	margin-left: 20px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.25em;
}

.bulletA{
	font-family: monospace;
}

#headerContainer {
	color: SlateGray;
}

#permaRaveButton {
	background-color: slategray;
	position: absolute;
	border: transparent;
	/*top: 90%;*/
	/*left: 2.5%;*/
	/*width: 10em;*/
	/*height: 7em;*/
	/*font-size: 30px;*/
}

#noMoreParty {
	background-color: slategray;
	position:absolute;
	border: transparent;
	/*top: 90%;*/
	/*left: 12%;*/
	/*width: 10em;*/
	/*height: 2.5em;*/
}

#sidePanel {
	border: 2px solid;
    display:block;
}

.flexContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
}

.flexItem {
	flex-grow: 1;
	color: SlateGray;
	font-weight: bold;
	font-family: helvetica, monospace, sans-serif;
	font-size: 2em;
	text-align: center;
}

button {
	background-size: cover;
}

.drSideButton {
	width: 10em;
	height: 8em;
}

.drCenterButton {
	width: 15em;
	height: 8em;
}

#messageDiv {
	margin-top: 27px;
}

.msg {
	margin-left: 15px;
	padding: 15px;
	border: #bce8f1 1px solid;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
}